<%- include("./template/header.ejs") %> 
</head>
<body class="text-center">
    <main class="form-signin">
        <form onsubmit="return isValidateForm();" action="/profile/saveEditedData" enctype="multipart/form-data" method="post">
            <a href="/"><img class="mb-4 rounded" src="../image/logo.jpg" alt="logo" width="72"></a>
            <h1 class="h3 mb-3 fw-normal">Edit profile info</h1>

            <div class="form-floating">
                <input type="text" name="username" class="form-control" id="floatingInput" required placeholder="name" pattern="[A-Za-z0-9]{4,}" title="Username must not contain special characters or less than 4 characters">
                <label for="floatingInput">Username</label>
            </div>
            <div class="form-floating">
                <input type="email" name="email" class="form-control" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" id="floatingInput" required placeholder="name@example.com" title="Email must be must be in the following order: characters@characters.domain">
                <label for="floatingInput">Email address</label>
            </div>
            <span class="text-danger error-password-matched">Password does not matched!</span>
            <div class="form-floating">
            <textarea name="bio" class="form-control mb-3" placeholder="Bio" id="floatingTextarea2" style="height: 100px"></textarea>
                <label for="floatingTextarea2">About yourself</label>
            </div>
            <div class="mb-3">
                <label for="formFile" class="form-label">Upload profile picture</label>
                <input name="profile" accept="image/png, image/jpg, image/jpeg" class="form-control" type="file" id="formFile" required>
            </div>
            <div class="mb-3">
                <label for="formFileCover" class="form-label">Upload cover photo</label>
                <input name="cover" accept="image/png, image/jpg, image/jpeg" class="form-control" type="file" id="formFileCover" required>
            </div>

            <div class="buttons d-flex justify-content-between gap-2">
                <button onclick="validateForm();" class="w-100 btn btn-md btn-success" type="submit">Save Changes</button>
                <button class="w-100 btn btn-md btn-danger" type="submit">Discard Changes</button>
            </div>

            <p class="mt-4 mb-3 text-muted">&copy; 2017–2021</p>
        </form>
    </main>
<%- include("./template/footer.ejs") %> 